<div *ngIf="jugador" class="jumbotron">
  <div class="row mb-3">
      <div class="col-sm-4">Nombre:</div>
      <div class="col-sm-8">{{jugador.nombre}}</div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-4">Apellidos:</div>
        <div class="col-sm-8">{{jugador.apellidos}}</div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-4">Posición:</div>
        <div class="col-sm-8">{{jugador.posicion}}</div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-4">Dorsal:</div>
        <div class="col-sm-8">{{jugador.dorsal}}</div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-4">Edad:</div>
        <div class="col-sm-8">{{jugador.edad}}</div>
    </div>
</div>
